/*
*   CSS for the Home component.
*/

.page-title {
    border: solid black 2px;
}

.info-box {
    font-size: larger;
    text-align: center;
    border: solid black 2px;
}

.dog-search-form {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.search-btn {
    border-top-right-radius: 10;
    border-bottom-right-radius: 10;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    margin: 80px;
    border: solid black 2px;
}

.pet-card {
    position: relative;
    margin: 8px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgb(95, 95, 95);
}

.image-container {
    background: black;
    text-align: center;
}

.pet-image {

}

.main-info-container {
    text-align: center;
}

.additional-info-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    text-align: center;
}